header{
  display: flex;
  justify-content: center;
  background-color: rgb(49, 48, 48);
}
body {
  background-color: rgb(73, 73, 73);
}
footer{
  display: flex;
  justify-content: center;
  background-color: rgb(105, 103, 103);
}